h1, .TitleContact{
    color: aliceblue;
    text-align: center;
}
.field {
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }

  .backHome{
    display: flex;
    justify-content: start;
    margin-top: 1%;
   
  }

  .backHome img{
    width: 15%;
    
  }

  .backHome img:hover{
    cursor: url("https://cdn.custom-cursor.com/db/18175/32/glitter-fire-flame-glitter-pointer.png"),pointer  !important;
    transform: scale(1.07); 
    transition: transform 0.3s ease; 
  }
  
  .field label {
    
    font-size: 12px;
    color: #b0afaf;
    justify-content: center;
   
    
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 10px;
    justify-content: center;
    
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #c17a08;
    color: #fff;
    border: none;
    font-weight: bold;
  }
  input[type="submit"]:hover {
    
    background-color: #dc8c0b;
   
  }

  .subtitleContact{
    color: #fff;
    font-size: 20px;
    margin-bottom: 4%;
    margin-top: 4%;
  }

  .paragraph{
    font-size: 12px;
    
  }

  .footerContact{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .submitButton:hover{
    cursor: url("https://cdn.custom-cursor.com/db/18175/32/glitter-fire-flame-glitter-pointer.png"),pointer  !important
  }

  .submitButton{
    margin-top: 1%;
  }