h1{
color:white;
text-align: center;
}

p {
    color: white;
    text-align: justify;

    
}

.section{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:40px
}

#img-guitar{
    
    width: 50%;

}